{% extends "base/list.html" %}
{% load url from future %}


{% block links %}
<a class="btn" href="{% url 'base:gitlab-ci-connect' %}">Connect to GitLab CI</a>
<a class="btn" href="{% url 'base:gitlab-ci-builds' %}">Check for GitLab CI Builds</a>
{% endblock links %}


{% block list_detail %}
    {% if object_list %}
    <div class="object_list">{% for object in page_obj.object_list %}
        <div class="object">
            <a href="{% url 'base:detail' object.slug %}">{{ object }}</a> {{ object.created_on }}
        </div>{% endfor %}
    </div>
    {% else %}
    <div><em>Sorry, there are no {{ opts.verbose_name }} at this time.</em></div>
    {% endif %}
{% endblock list_detail %}