{% extends 'base.html' %}

{% block content %}
<h2>Member Login</h2>

<form method="post" class="form-horizontal" action="/accounts/login/">{% csrf_token %}
    {% include "forms/bootstrap.html" %}
    <div class="control-group">
        <div class="controls">
            <button class="btn btn-primary">Login</button>
        </div>
    </div>
</form>
{% endblock %}
