{% load form_tags %}

{% for fieldset in form|fieldsets:form.fieldsets %}
<fieldset id="formset-{{ forloop.counter }}" class="{{ fieldset.classes }}">{% if fieldset.name %}
    <legend>{{ fieldset.name }}</legend>{% endif %}{% if fieldset.description %}
    <p class="description">{{ fieldset.description }}</p>{% endif %}
    
    {% for line in fieldset %}           
    <div class="line">
    {% for fieldcont in line %}{% with fieldcont.field as field %}
        {{ field.errors }}
        {% if field.field.widget|is_checkbox %}
            <span class="checkbox">{{ field }}{{ field.label_tag }}</span>
        {% else %}
            <span class="field">{% if forloop.first %}{{ field.label_tag }}{% endif %} {{ field }}</span>
        {% endif %}{% if field.help_text %}
        <p class="helptext">{{ field.help_text|safe }}</p>
        {% endif %}
    {% endwith %}{% endfor %}
    </div>
    
    {% endfor %}
</fieldset>
{% endfor %}

