{% load googlecharts_tags %}

<div id="gTopGrossingProducts"></div>
<script type="text/javascript">
	google.setOnLoadCallback(gDrawTopProducts);
	
	function gDrawTopProducts() {
		window._topProductsData = new google.visualization.DataTable();
		window._topProductsFormater = new google.visualization.NumberFormat({ prefix:'$' }); 
		window._topProductsChart = new google.visualization.PieChart(document.getElementById('gTopGrossingProducts'));
		window._topProductsOptions = {
			width: 700, height: 300, 
			title: 'Top {{ limit }} Grossing Products (before discounts) from {{ start_date|date:"m/d/Y" }} to {{ end_date|date:"m/d/Y" }}', 
			is3D: true,
		}; 
			
		window._topProductsData.addColumn('string', 'N'); 
		window._topProductsData.addColumn('number', 'Value'); 
		{% if products %}
		window._topProductsData.addRows([
	        {% for product in products %}
	            ['{{ product.name|escapejs|safe }}',{{ product.line_total }}]{% if not forloop.last %},{% endif %}
	        {% endfor %}
	    ]); 
		{% endif %}
		window._topProductsFormater.format(window._topProductsData, 1); 
		
		window._topProductsChart.draw(window._topProductsData, window._topProductsOptions);  
	}

</script>
